/build/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake

*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.so

_build/
_deps/
glfw-src/
glfw-build/

.vscode/
CMakeUserPresets.json

*.log
.DS_Store
Thumbs.db
